<html>


    <head> Fiddler Demo</head>
    <h1> Fiddler Demo</h1>
    <div class="btn">CLOSE</div>
    <!--button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button-->

    <ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <!--p id="wizParDiv0"></p-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>
    
      <!--div id="myModal" class="modal" #myModal>
        <div class="modal-content">
          <span (click)="closeModal()" class="close">&times;</span>
          <p id="wizParDiv0"></p>
        </div>
      
      </div-->
    <toaster></toaster>

    <display-area> </display-area>

    <script>
        var modal = document.getElementById("myModal");
        /*var btn = document.querySelector('.btn');
        var wrapper = window.parent.document.getElementById('wizParDiv0');
        btn.addEventListener('click', closePopUp);
        function closePopUp() { wrapper.remove(); }*/

        var span = document.getElementsByClassName("close")[0];
        
         // When the user clicks anywhere outside of the modal, close it
	  window.onclick = function(event) {
		if (event.target == modal) {
		  modal.style.display = "none";
		}
	  }

	  
    </script>

    
</html>